In [1]:
import pandas as pd
import numpy as np

Q1 Write a Pandas program to create and display a one-dimensional array-like
object containing an array of data using Pandas module.

In [2]:
ques1 =  pd.Series([1,2,3,4,5,5])
ques1

0    1
1    2
2    3
3    4
4    5
5    5
dtype: int64

Write a Pandas program to convert a Panda module Series to Python list
and it's type.

In [3]:
lst = list(ques1)
lst

[1, 2, 3, 4, 5, 5]

Write a Pandas program to add, subtract, multiple and divide two Pandas
Series.

In [4]:
series1 = pd.Series([2, 4, 6, 8, 10])
series2 = pd.Series([1, 3, 5, 7, 9])
add = [series1+series2]
subtract = [series1-series2]
mul = [series1*series2]
div = [series1/series2]

add,subtract,mul,div

([0     3
  1     7
  2    11
  3    15
  4    19
  dtype: int64],
 [0    1
  1    1
  2    1
  3    1
  4    1
  dtype: int64],
 [0     2
  1    12
  2    30
  3    56
  4    90
  dtype: int64],
 [0    2.000000
  1    1.333333
  2    1.200000
  3    1.142857
  4    1.111111
  dtype: float64])

Write a Pandas program to compare the elements of the two Pandas
Series.

Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]

In [5]:
for i in range(5):
    if(series1[i]==series2[i]):
        print("Equal")
    else:
        print("Not equal")

Not equal
Not equal
Not equal
Not equal
Not equal

In [6]:
series1 ==series2

0    False
1    False
2    False
3    False
4    False
dtype: bool

Write a Pandas program to convert a dictionary to a Pandas series.

In [7]:
dict={'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
df=pd.Series(dict)
print("Original dictionary: ")
print(dict)
print("Cinverted series")
print(df)

Original dictionary:
{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
Cinverted series
a    100
b    200
c    300
d    400
e    800
dtype: int64

6. Write a Pandas program to convert a NumPy array to a Pandas series.

In [8]:
n=np.array([1,2,3,4,5])
ser=pd.Series(n)
ser

0    1
1    2
2    3
3    4
4    5
dtype: int64

7. Write a Pandas program to change the data type of given a column or a
Series.

In [10]:
d={'0':100,'1':200,'2':'Python','3':300.12,'4':400}
s=pd.Series(d)
s

0       100
1       200
2    Python
3    300.12
4       400
dtype: object

In [16]:
s1=pd.to_numeric(s,errors='coerce')
s1

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

8. Write a Pandas program to convert the first column of a DataFrame as a
Series.

In [19]:
d= pd.DataFrame({'col1':[1,2,3,4,7,11],
                'col2':[14,5,6,9,5,0],
                'col3':[7,5,8,12,1,11]
                })
series= pd.Series(d['col1'])
series

0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64

Write a Pandas program to convert a given Series to an array.

In [22]:
arr=np.array(s)
print(arr)

[100 200 'Python' 300.12 400]

Write a Pandas program to convert Series of lists to one Series.

In [25]:
one = ["Red", "Green", "White"]
two = ['Red', "Black"]
three = ["Yellow"]
series = pd.Series([one,two,three])
series

0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object

In [28]:
group=one+two+three
series=pd.Series(group)
series

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

Write a Pandas program to sort a given Series.

In [35]:
s = pd.Series(['100', '200', 'python', '300.12', '400'])
print("Original Data Series:")
print(s)
new_s = pd.Series(s).sort_values()
print(new_s)

Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object
0       100
1       200
3    300.12
4       400
2    python
dtype: object

Write a Pandas program to add some data to an existing Series.

In [40]:
new_s = pd.concat([s, pd.Series([500, "php"])], ignore_index=True)
new_s

0       100
1       200
2    python
3    300.12
4       400
5       500
6       php
dtype: object

13. Write a Pandas program to create a subset of a given series based on value and
condition.

14.Write a Pandas program to change the order of index of a given series.

In [51]:
Series = pd.Series({'A':1,'B':2,'C':3,'D':4,'E':5})
Series.reindex(index = ['B','A','C','D','E'])

B    2
A    1
C    3
D    4
E    5
dtype: int64

15. Write a Pandas program to create the mean and standard deviation of the data of a
given Series.

In [54]:
series=pd.Series([2,5,4,3,9,5,1,8,6,7])
series.mean(), series.std()

(5.0, 2.581988897471611)

16. Write a Pandas program to get the items of a given series not present in another given
series.

In [64]:
sr1=pd.Series([1,2,3,4,5])
sr2=pd.Series([2,4,6,8,10])
result = sr1[~sr1.isin(sr2)]
print(result)

0    1
2    3
4    5
dtype: int64

17. Write a Pandas program to get the items which are not common of two given series.

In [65]:
sr11 = pd.Series(np.union1d(sr1, sr2))
sr22 = pd.Series(np.intersect1d(sr1, sr2))
result = sr11[~sr11.isin(sr22)]
print(result)

0     1
2     3
4     5
5     6
6     8
7    10
dtype: int64

18. Write a Pandas program to compute the minimum, 25th percentile, median, 75th, and
maximum of a given series.

In [69]:
num_state = np.random.RandomState(100)
num_series = pd.Series(num_state.normal(10, 4, 20))
print("Original Series:")
print(num_series)
result = np.percentile(num_series, q=[0, 25, 50, 75, 100])
print("\nMinimum, 25th percentile, median, 75th, and maximum of a given series:")
print(result)

Original Series:
0      3.000938
1     11.370722
2     14.612143
3      8.990256
4     13.925283
5     12.056875
6     10.884719
7      5.719827
8      9.242017
9     11.020006
10     8.167892
11    11.740654
12     7.665620
13    13.267388
14    12.690883
15     9.582355
16     7.874878
17    14.118931
18     8.247458
19     5.526727
dtype: float64

Minimum, 25th percentile, median, 75th, and maximum of a given series:
[ 3.00093811  8.09463867 10.23353705 12.21537733 14.61214321]

19. Write a Pandas program to calculate the frequency counts of each unique value of a
given series.

In [75]:
q19=pd.Series(np.take(list('0123456789'), np.random.randint(10, size=40)))
q19.value_counts()

9    8
5    7
2    5
0    5
1    5
6    3
7    2
8    2
3    2
4    1
Name: count, dtype: int64

20. Write a Pandas program to display most frequent value in a given series and replace
everything else as 'Other' in the series.

In [88]:
num_series = pd.Series(np.random.randint(1, 5, [15]))
print("Original Series:")
print(num_series)
print("Top 2 Freq:", num_series.value_counts())
result = num_series[~num_series.isin(num_series.value_counts().index[:1])] = 'Other'
print(num_series)

Original Series:
0     3
1     2
2     3
3     2
4     2
5     2
6     4
7     3
8     2
9     2
10    2
11    2
12    1
13    1
14    4
dtype: int64
Top 2 Freq: 2    8
3    3
4    2
1    2
Name: count, dtype: int64
0     Other
1         2
2     Other
3         2
4         2
5         2
6     Other
7     Other
8         2
9         2
10        2
11        2
12    Other
13    Other
14    Other
dtype: object

21. Write a Pandas program to find the positions of numbers that are multiples of 5 of a
given series.

In [92]:
num_series = pd.Series(np.random.randint(1, 10, 9))
print("Original Series:")
print(num_series)
result = np.where(num_series % 5==0)
print("Positions of numbers that are multiples of 5:")
print(result)

Original Series:
0    6
1    6
2    9
3    9
4    9
5    7
6    9
7    9
8    3
dtype: int64
Positions of numbers that are multiples of 5:
(array([], dtype=int64),)

# INCOMPLETE