## Q2. Suppose you have landed to a job and the first task youâ€™ve assigned to prepare a report which includes the following:

1. Player Count
* Total Number of Players

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("purchase_data.csv")
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
#Player count
print("Total number of players = ",df['SN'].nunique())

Total number of players =  576

2. Purchasing Analysis (Total)
* Number of Unique Items
* Average Purchase Price
* Total Number of Purchases
* Total Revenue

In [4]:
#Number of unique items
print("Number of unique items: ",df['Item Name'].nunique())

Number of unique items:  179

In [5]:
#Average Purchase Price
print("Average Purchase Price=",df['Price'].mean())

Average Purchase Price= 3.0509871794871795

In [6]:
#Total Number of Purchases
print("Total Number of Purchases=",df['Purchase ID'].count())

Total Number of Purchases= 780

In [7]:
#Total Revenue
print("Total Revenue=",df['Price'].sum())

Total Revenue= 2379.77

3. Gender Demographics
* Percentage and Count of Male Players
* Percentage and Count of Female Players
* Percentage and Count of Other / Non-Disclosed

In [16]:
#Percentage and Count of Male Players
print("Percentage and Count of Male Players")
male=df.loc[df['Gender']=='Male']
count=male['SN'].nunique()
percentage=count/df['SN'].nunique()
print(round((percentage*100),2),",",count)

Percentage and Count of Male Players
84.03 , 484

In [17]:
#Percentage and Count of Male Players
print("Percentage and Count of Female Players")
female=df.loc[df['Gender']=='Female']
count=female['SN'].nunique()
percentage=count/df['SN'].nunique()
print(round((percentage*100),2),",",count)

Percentage and Count of Female Players
14.06 , 81

In [18]:
#Percentage and Count of Other / Non-Disclosed
print("Percentage and Count of Other / Non-Disclosed")
other=df.loc[df['Gender']=='Other / Non-Disclosed']
count=other['SN'].nunique()
percentage=count/df['SN'].nunique()
print(round((percentage*100),2),",",count)

Percentage and Count of Other / Non-Disclosed
1.91 , 11

4. Purchasing Analysis (Gender)
 
 The below each broken by gender
* Purchase Count
* Average Purchase Price
* Total Purchase Value
* Average Purchase Total per Person by Gender

In [20]:
#Purchase Count
print("Male Purchase count: ",male['Purchase ID'].count())
print("Female Purchase count: ",female['Purchase ID'].count())
print("Others/Undisclosed Purchase count: ",other['Purchase ID'].count())

Male Purchase count:  652
Female Purchase count:  113
Others/Undisclosed Purchase count:  15

In [21]:
#Average Purchase Price
print("Male average Purchase Price",male['Price'].mean())
print("female average Purchase Price",female['Price'].mean())
print("Other/Non Disclosed average Purchase Price",other['Price'].mean())

Male average Purchase Price 3.0178527607361967
female average Purchase Price 3.203008849557522
Other/Non Disclosed average Purchase Price 3.3459999999999996

In [22]:
#Total Purchase Value

print("Male Total Purchase Value",male['Price'].sum())
print("female Total Purchase Value",female['Price'].sum())
print("Other/Non Disclosed Toatl Purchase Value",other['Price'].sum())

Male Total Purchase Value 1967.64
female Total Purchase Value 361.94
Other/Non Disclosed Toatl Purchase Value 50.19

In [31]:
#Average Purchase Total per Person by Gender
#For male
a=male.groupby('SN')['Price'].mean()
a

SN
Adairialis76    2.280000
Aeda94          4.910000
Aela59          4.320000
Aelaria33       1.790000
Aelastirin39    3.645000
                  ...
Yasur85         1.100000
Yathecal72      3.460000
Yathedeu43      3.010000
Zhisrisu83      3.945000
Zontibe81       2.676667
Name: Price, Length: 484, dtype: float64

In [32]:
#For female
b=female.groupby('SN')['Price'].mean()
b

SN
Adastirin33      4.480000
Aerithllora36    4.320000
Aethedru70       3.540000
Aidain51         3.450000
Aiduesu86        4.480000
                   ...
Wailin72         2.730000
Yana46           3.550000
Yarithrin84      4.140000
Yathecal82       2.073333
Yoishirrala98    4.580000
Name: Price, Length: 81, dtype: float64

In [37]:
#For others/non disclosed
c=other.groupby('SN')['Price'].mean()
c

SN
Airi27          3.450
Chanosian48     3.760
Eodaisu60       3.940
Haerithp41      4.400
Idairin51       3.500
Jiskirran77     3.390
Lirtim36        1.330
Maluncil97      2.640
Rairith81       2.220
Siarithria38    3.455
Sundim98        4.750
Name: Price, dtype: float64

Age Demographics

The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
* Purchase Count
* Average Purchase Price
* Total Purchase Value
* Average Purchase Total per Person by Age Group

In [95]:
morethan10=df.loc[df['Age']>10]
bin_edges=[0,10,14,19,23,27,31,35,39,43,47]
bin_labels=['<10','10-14','15-19','20-23','24-27','28-31','32-35','36-39','40-43','44-47']
df['Bins']=pd.cut(df['Age'],bins=bin_edges,labels=bin_labels)

In [94]:
#Purchase Count
df.groupby('Bins')['Price'].count()

Bins
<10       32
10-14     19
15-19    136
20-23    298
24-27    150
28-31     60
32-35     45
36-39     27
40-43     10
44-47      3
Name: Price, dtype: int64

In [96]:
#Average Purchase Price
df.groupby('Bins')['Price'].mean()

Bins
<10      3.405000
10-14    2.681579
15-19    3.035956
20-23    3.033020
24-27    3.063600
28-31    2.967500
32-35    2.925778
36-39    3.542222
40-43    3.118000
44-47    2.353333
Name: Price, dtype: float64

In [134]:
#Total Purchase Value
df.groupby('Bins')['Price'].sum()

Bins
<10      108.96
10-14     50.95
15-19    412.89
20-23    903.84
24-27    459.54
28-31    178.05
32-35    131.66
36-39     95.64
40-43     31.18
44-47      7.06
Name: Price, dtype: float64

In [136]:
#Average Purchase Total per Person by Age Group
df.groupby('SN')['Price'].mean()

SN
Adairialis76     2.280000
Adastirin33      4.480000
Aeda94           4.910000
Aela59           4.320000
Aelaria33        1.790000
                   ...
Yathecal82       2.073333
Yathedeu43       3.010000
Yoishirrala98    4.580000
Zhisrisu83       3.945000
Zontibe81        2.676667
Name: Price, Length: 576, dtype: float64

6. Top Spenders

Identify the the top 5 spenders in the game by total purchase value, then list (in a
table):

* SN
* Purchase Count
* Average Purchase Price
* Total Purchase Value